body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}


button::-moz-focus-inner {
  border: 0;
}
#upper {
  width: 800px;
}

#keyboard {
  display: inline-block;
  background-color: #f8f8f8;
  height: 240px;
  padding: 10px;
  width: 650px;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
}

#white-keys {
  width: 1255px;
  height: 220px;

}
.white-key {
  display: none;
  color: #ddd;
  vertical-align: top;
  position: relative;
  padding: 0px;
  width: 40px;
  border: none;
  height: 220px;
  margin: 0px;
  background-color: #ffffff;
  box-shadow: 0px 10px 0px 0px #dddddd;
  border-radius: 2px;
  z-index:5;
  outline: none;
  padding-top: 180px; 
  -webkit-transition: all 0.5s;
  -webkit-transition: fadeInFromNone 1s ease-out;
  top: 0px;
  opacity: 0;
}
.white-key:active,
.white-key:focus {
  outline: none;
}
.white-key[pressed]{
  box-shadow: 0px 0px 0px 0px #dddddd; 
  height:230px; 
  background-color: #ededed; 
  margin-top: -10px; 
  top:10px;
}
#black-keys{
  width: 1255px;
  position: relative;
  left: 22px;
  top: -230px;
  z-index: 6;
  pointer-events: none;
}
.black-key {
  display:none;
  pointer-events: all;
  vertical-align: top;
  border: none;
  box-shadow:0px 5px 0px 0px #111;
  border-radius: 2px;
  padding: 0px;
  margin: 7px;
  width: 26px;
  height: 130px;
  background-color: #333;
  z-index: 10;
  margin-top: 6px;
  top:0px;
  opacity: 0;
}

.black-key:active,
.black-key:hover {
  outline:none;
}
.black-key[pressed] {
  box-shadow: 0px 0px 0px 0px #dddddd; 
  height: 135px; 
  background-color: #666; 
  top:5px;
}

.white-key[show],
.black-key[show] {
  -webkit-animation: fadeInFromNone 1s ease-out;
  -webkit-transition: all 0.5s;
  display: inline;
  opacity: 1;
}

@-webkit-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: inline;
		opacity: 0;
	}

	100% {
		display: inline;
		opacity: 1;
	}
}

.empty {
  margin: 22.5px;
  display: none;
}
.empty[show] {
  display: inline;
}
#gamecontrols {
  border-top: 1px solid #ccc;
  height: 40px;
  width: 800px;
  background-color: #ddd;
}
#previousNote {
  margin-left: 5px;
}
#previousNote,
#nextNote {
  color: black;
  background-color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
}
#previousNote:hover,
#nextNote:hover {
  background-color: #f5f5f5;
}
#previousNote:disabled,
#nextNote:disabled {
  background: #eee;
}
#reset {
  color: white;
  background-color: rgb(255, 59, 48);
  width: 40px;
  height: 40px;
  border: none;
  border: 2px solid rgb(235, 40, 34);
  -webkit-transition: all 0.2s ease;
}
#reset:hover {
  background-color: rgb(235, 40, 34);
}
#relisten {
  color: white;
  background-color: rgb(255,204,0);
  width: 55px;
  height: 40px;
  border: 2px solid rgb(245, 194, 0);
  -webkit-transition: all 0.2s ease;
}
#relisten:hover {
  background-color: rgb(240, 194, 0);
}
#relisten:disabled {
  background-color: rgb(220,210,200);
  border: rgb(220,210,200);
}
#submit {
  float: right;;
  color: white;
  background-color: rgb(76,217,100);
  height: 40px;
  width: 70px;
  border: none;
  border: 2px solid rgb(63, 204, 93);
  -webkit-transition: all 0.2s ease;
}
#submit:hover {
  background-color: rgb(60,204,90);
}
#indicateNote{
  position: relative;
  bottom: 1px;
  vertical-align: middle;
  height: 21px;
  border-radius: 3px;
  padding: 5px;;
  background-color: white;
  display: inline-block;
}
#maxNote,
#currentNote {
  margin: 0px;
  width: 15px;
  display: inline-block;
}
#currentNote {
  text-align: right;
}
#divider {
  margin: 0px;
  display: inline-block;
  width: 5px;
}
#elo {
  display: inline-block;
  width: 60px;
  height: 36px;
  background-color: rgb(90,200,250);
  border: none;
  border: 2px solid rgb(80, 190, 240);
  float: right;
  vertical-align: middle;
  margin-right:5.5px;
}
#elonum {
  font-size: 14px;
  text-align: center;
  color: white;
  padding-top: 7px;
  line-height: 20px;
  margin-top: 0px;
}

#results {
  padding: 10px;
  display: inline-block;
  height: 240px;
  width: 109px;
  background-color: #f2f2f2;
  overflow-y: scroll;
  border-left: 1px solid #ddd;
}
#results .resultContainer {
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.resultContainer[wrong]{
  border: 1px solid #f44242; 
}
.resultContainer[right]{
  border: 1px solid #3ab41a; 
}
p {
  font-size: 14;
  margin: 0px;
}
span {
  display: inline-block;
  margin-right: 5px;
}
span.correct {
  color: #3ab41a;
}
span.wrong {
  color: #f44242;
}
span.incorrect {
  color: #999;
  text-decoration: line-through;
}
